.venv/
__pycache__/
*.pyc
db.sqlite3
.env
*.log
staticfiles/
media/
chatbot/gemini_key.txt


# Large media & animation files >50MB
booking/static/images/aianimation2
*.zip
ghidora_payments_fixed.zip
ghidora_social_app.zip


# Large media & animation files >50MB
booking/static/images/aianimation2
*.zip
ghidora_payments_fixed.zip
ghidora_social_app.zip
